<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Challenge Facing Election Administrators</h2>
                <hr class="light">
                <p class="text-faded">Most poll workers are over the age of 60 – the most vulnerable to the coronavirus. This year, it will be especially vital to help local election administrators recruit young, healthy citizens to work the election and ensure all eligible voters have the option to vote in person if necessary.</p>
                <div class="btn btn-default btn-xl" style="border-radius: 15px; cursor: default">
                    <img style="max-width: 100%" src="/img/pollworkers.png">
                    <br />
                    <br />
                    <br />
                    <a class="btn btn-primary btn-xl page-scroll" href="#sign-up">See how you can help</a>
                </div>
            </div>
        </div>
    </div>
</section>
