<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partner Organizations</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://polls.pizza" target="_blank" class="portfolio-box">
                    <img src="img/partners/pizzatothepolls.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Pizza to the Polls
                            </div>
                            <div class="project-name">
                                https://polls.pizza
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="col-lg-4 col-sm-6">
                <a href="https://wecanvote.us" target="_blank" class="portfolio-box">
                    <img src="img/partners/wecanvote.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                We Can Vote
                            </div>
                            <div class="project-name">
                                https://wecanvote.us
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.civicalliance.com" target="_blank" class="portfolio-box">
                    <img src="img/partners/civicalliance.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Civic Alliance
                            </div>
                            <div class="project-name">
                                https://www.civicalliance.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
