<section id="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How You Can Help</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-building wow bounceIn text-primary"></i>
                    <h3>Corporate Partners</h3>
                    <p class="text-muted" style="min-height: 160px; ">
                        Partner to give your employees time off to work as poll workers or to support poll workers with a reward they can redeem after their period of service. This can be in-kinded merch, a promo code, or another fun prize.
                    </p>
                    <a class="btn btn-primary btn-xl" href="https://docs.google.com/forms/d/e/1FAIpQLSdfquIk8bwKbnf_Kb9eKi9ISrWK9bL3xb2gF0Ri9lG3xtc7sg/viewform?usp=sf_link" target="_blank">Sign up here</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-person-booth wow bounceIn text-primary"></i>
                    <h3>Election Officials</h3>
                    <p class="text-muted" style="min-height: 160px; ">
                        Are you an election adminstrator? Could you use help recruiting more poll workers? Do you want lunch and other support on election day for your volunteers and voters.
                    </p>
                    <a class="btn btn-primary btn-xl" href="https://docs.google.com/forms/d/e/1FAIpQLSfX6CY46KNHHvhRTQi3rcJ-NwEPuqGeHeKSHYtyCVwk7WcDIg/viewform?usp=sf_link" target="_blank">Sign up here</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hands-helping wow bounceIn text-primary"></i>
                    <h3>Be a Poll Workers</h3>
                    <p class="text-muted" style="min-height: 160px; ">
                        We need you to make sure America can turn out to vote this November - sign up and we'll send you information about how you can get started becoming a poll worker.
                    </p>
                    <a class="btn btn-primary btn-xl" href="https://docs.google.com/forms/d/e/1FAIpQLSdwQU0VqqudzbSjGQOLx8n6JZtaRFQZ-N5HseEgOmbGiF_JfA/viewform?usp=sf_link" target="_blank">Sign up here</a>
                </div>
            </div>
        </div>
    </div>
</section>
